/* ==============================
	       基础公共样式 
===============================*/
html {
	font-size: 62.5%;
	color: #222;
}
::selection {
	background-color: #b3d4fc;
	text-shadow: none;
}
div:before {
	display: table;
	content: " ";
}
div:after {
	display: table;
	content: " ";
	clear: both;
}
div {
	// min-height: 2px;
}
a {
	color: #FF534E;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	transition: all 0.3s;
}

a:hover {
	border-bottom-color:#FFD7AC;
}


/* ==============================
	       自定义样式 
===============================*/
@media screen and (min-width: 1900px) {
	.container {
		width: 1800px;
	}
	#imgs-box {
		width: 100%;
	}
}
#imgs-box {
	width: 100%;
	margin: 80px 0;
	text-align: center;
}
#imgs-box ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#vertical-imgs {
	min-height: 20px;
}
#imgs-box #horizontal-imgs {
	min-height: 20px;
	padding-bottom: 8em;
}
#square-imgs {
	min-height: 20px;
}
canvas {
}

.vertical-img, 
.horizontal-img, 
.square-img {
	display: inline-block;
	margin: 25px 20px;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background: url(http://img14.3lian.com/201510/21/af398caa308168a2f8ce706dabc71934.gif) center center no-repeat;
	background-size: 30% auto;
}

/* ==============================
	       进度条样式 
===============================*/

#progress-bar {
	position: fixed;
	bottom: 0;
	height: 14px;
	width: 100%;
	margin-bottom: 0;
}
.progress-bar-light {
	background-color: #FFD7AC;
	color: brown;
	font-size: 14px;
	line-height: 14px;
}




















